
.nav-menu{
    text-align: center;
}
.nav-list{
    list-style: none;
}

.nav-list-item{
    /* делаем элемент блочно-сторчным */
    display: inline-block;


}

.list-item-link{
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
    color: #FF0000;
    text-transform: uppercase;
    text-decoration: none;
    margin-top: 25px;
    margin-bottom: 25px;
}

.home-item{

    margin-right: 72px;
}

.photoapp-item{
 margin-right: 72px;
}

.text{
    text-align: center;
    margin-right: 68px;
    margin-left: 68px;
    margin-top: 28px;


}



.tit{
    text-align: center;
    text-transform: uppercase;
    color: #373737;
    margin-top: 49px;
    margin-bottom: 38px;
}

.div-button{
    text-align: center;

}



.image{
    width: 100%;
}

.button{
    width: 191px;
    height: 51px;
    background: #FF0000;
    color: white;
    margin-top: 66px;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}

.item-home{
    margin-right: 72px;
}

.item-photoapp{
    margin-right: 72px;
}

.item-design{
    margin-right: 50px;
}

.copyright{
    text-align: right;
    margin-right: 105px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 29px;
    margin-top: 84px;
}